.n-wrapper {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 3;
}
.n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
    margin-left: 3%;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    margin-right: 1rem;
}

.n-list {
    flex: 10;
}
.n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style-type: none;
    cursor: pointer;
}

.n-list > ul >li:hover {
    cursor: pointer;
    color: var(--blue);
}
.n-button {
    flex: 2;
}

@media  screen and (max-width: 1130px) {
    .n-list {
        display: none;
    }
}
