.intro {
    display: flex;
    height: 70vh;
    margin-top: 13rem;
    margin-left: 2rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2) {
    color: var(--blue);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 18px;
    margin-top: 10px;
}

.i-button {
    width: 7rem;
    height: 3rem;
}
.buttonTag {
    width: 0;
}

.i-icons {
    display: flex;
    margin-top: 3rem;
    gap: 0rem;
}
.i-icons>* {
    transform: scale(.5);
}
.i-icons:hover {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(2) {
    top: -50%;
    right: -35%;
    transform: scale(.25);
    border-radius: 50%;
}
.i-rightFloatingDiv {
    left: -3%;
    top: -5%;
    border-radius: 50%;
}

.introColor {
    height: 50vh;
    width: 45vw;
    opacity: .10;
    border-radius: 20%;
}

.blur {
    width: 22rem;
    position: absolute;
    height: 14rem;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -9;
    top: -18%;
    left: 42%
}
.blur2 {
    width: 22rem;
    position: absolute;
    height: 18rem;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -9;
    top: 23%;
    left:-20%
}