.footerWave {
    width: 100%;
    height: 10rem;
}
.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
  }
.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: .5rem;
    gap: 1rem;
    color: black;
    opacity: 15;
  }
  .f-icons {
    display: flex;
    gap: 2rem;
  }
