:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 20px 63px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0,0,0,0.08);
  --red: #ff0000;
  --blue: #0000ff;
}

.App {
  padding: .5rem, 3.5rem;
  overflow: hidden;
  color: var(--black);
  margin: 0 ;
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 26px;
  box-shadow: 0px 20px 24px 3px, rgba(29,35,253, 0.42);
  background: rgb(29,35,253);
  background: linear-gradient(90deg, rgba(29,35,253,0.8926164215686274) 100%, rgba(252,176,69,1) 100%);
}
.button:hover {
  background: whitesmoke;
  cursor: pointer;
  color: var(--black);
  border: 1px solid var(--blue);
}

@media  screen and (max-width: 480px) {
  .App {
    padding: .5rem 1rem;
  }
}